<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Index Linking Tool v1.0</title>
    <link rel="stylesheet" media="screen" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <h1> Home</h1>
    <p> This Home Page </p>
    {% endblock %}
</body>
</html>