<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Index Linking Tool</title>
    <link rel="stylesheet" media="screen" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<div class="container">
<h2>PDF Index Linking Tool v1.0</h2>
    <!--<form id="form1" action = "/uploader" method = "POST" enctype = "multipart/form-data">
        <div class="form-group">
            <label for="name">Input PDF:</label>
            <input type = "file" name = "user_file" />
            <input type = "submit"/>
        </div>
    </form>-->
    <form id="form1" action="" method="post" role="form" enctype="multipart/form-data">
        {{ form.csrf }}
        <div class="form-group">
            <label for="name">Input PDF:</label><input type="file" name="user_file" id="user_file"/>
            <input type="text" class="form-control" id="name" name="name" placeholder="Please mention Input PDF filename with path" value="#user_file">

            <label for="fmpc">Total Frontmatter Page Count:</label>
            <input type="text" class="form-control" id="fmpc" name="fmpc" placeholder="What's Total frontmatter page count?">

            <label for="isp">Index Start Page Number:</label>
            <input type="text" class="form-control" id="isp" name="isp" placeholder="Enter a Index start page number.">

            <label for="iep">Index End Page Number:</label>
            <input type="text" class="form-control" id="iep" name="iep" placeholder="Enter a Index end page number.">
        </div>
    <button type="submit" class="btn btn-success">Process</button>
    </form>

      {% for message in form.name.errors %}
         <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}

      {% for message in form.fmpc.errors %}
         <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}

      {% for message in form.isp.errors %}
         <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}

      {% for message in form.iep.errors %}
         <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

{% for message in messages %}
{% if "Error" not in message[1]: %}
<div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}</div>
{% endif %}

{% if "Error" in message[1]: %}
<div class="alert alert-warning">
                {{ message[1] }}</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

</div>
<script>
$("input[name='user_file']").change(function(){$("input[name='name']").val($(this).val())});
</script>

</body>
</html>